.flex-container{
 display: flex;
 background-color: dodgerblue;

}

.flex-container > div {
    background-color: #999;
    width: 100px;
    margin: 100px;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
}

@media screen and (min-width: 700px) {
    body {
        background-color: blue;
    }
    
}